<mat-form-field>
    <input #input type="text" 
            matInput [formControl]="pokemonControl" 
            [matAutocomplete]="auto" 
            placeholder="No Selection"
            (input)="runFilter()"
            (focus)="runFilter()"
            (keydown.enter)="runFilter()">
    <mat-autocomplete requireSelection #auto="matAutocomplete">
        <mat-option *ngFor="let name of this.filteredNames" [value]="name">
            {{name | uppercase}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<div *ngIf="selectedPokemon" style="display:flex; flex-direction: column;">
    <div style="display:flex; flex-direction: column;">
        <div class="pokemon-name" style="display:flex"><span style="background-color: black;">&nbsp;</span>&nbsp;{{this.selectedPokemon.name | uppercase}}</div>
        <img class="pokemon-image" src="{{this.selectedPokemon.spriteUrl}}" alt="Pokemon Front Sprite" [ngClass]="{'is-highlighted': isHighlighted === true}"/>
        <div style="margin-bottom: 1em">
            <span style="font-size: large; font-weight: 200; font-style: italic; margin-bottom: 0.35em; display: inline-block">Weaknesses:</span>
            <br/>
            <span *ngFor="let weakness of weaknesses">
                <img class="small-icon" 
                        src="assets/{{weakness.typeName}}-icon.png"                     
                        alt="{{weakness.typeName}} Weakness Icon"
                        matTooltip="{{weakness.typeName | uppercase}}"
                        matTooltipPosition="above">
            </span>
        </div>
    </div>
    <attack-selection [availableMoves]="this.availableMoves" [pokemonSlot]="this.pokemonSlot" style="display:flex; flex-direction: column;"></attack-selection>
</div>