<mat-form-field *ngFor="let status of highlightStatus" class="attack-wrapper" [ngClass]="status.isHighlighted ? 'is-highlighted' : ''">
  <mat-label>
    Attack {{status.slot+1}}
    <span *ngIf="selectedMoveTypes[status.slot]">
      <img class="move-icon" 
        src="assets/{{selectedMoveTypes[status.slot]}}-icon.png"                     
        alt="{{selectedMoveTypes[status.slot]}} Weakness Icon"
        matTooltip="{{selectedMoveTypes[status.slot] | uppercase}}"
        matTooltipPosition="above">  
    </span>
  </mat-label>
  <mat-select [(value)]="selectedMoves[status.slot]" (valueChange)="updateSelection(status.slot)">
    <mat-option *ngFor="let move of availableMoves" [value]="move.name">{{move.name | uppercase}}</mat-option>
  </mat-select>
</mat-form-field>