<header></header>
<type-rating [isMobile]="isMobile"></type-rating>

<div *ngIf="isMobile">
    <mat-tab-group (selectedTabChange)="checkIfHasVScroll()">
        <mat-tab *ngFor="let status of highlightStatus">
            <ng-template mat-tab-label>
                <img src="{{selectedPokemonIcons[status.slot]}}" style="width: 3em"/>
            </ng-template>
            <pokemon-display id="pkmn-display{status.slot}" [pokemonSlot]="status.slot" [isHighlighted]="status.isHighlighted" (pokemonSelectedEvent)="storePokemonIconForSlot(status.slot, $event)" style="display: flex; flex-direction: column; width: 100%"></pokemon-display>
          </mat-tab>
    </mat-tab-group>      
</div>

<div *ngIf="!isMobile" class="pokemon-wrapper">
    <div *ngFor="let status of highlightStatus" style="display:flex">
        <pokemon-display id="pkmn-display{status.slot}" [pokemonSlot]="status.slot" [isHighlighted]="status.isHighlighted" style="display: flex; flex-direction: column; width: 100%"></pokemon-display>
    </div>
</div>

<footer [ngClass]="!hasVScroll ? 'sticky-footer-media-override' : ''"></footer>