<div *ngIf="isMobile" style="display: flex; flex-flow: column; justify-content: space-between; gap: 1em; padding: 1em; align-items: center;">
    <div  class="rating-title" style="display: flex">Attack types to avoid </div>
    <div class="mobile-icon-row">
        <span *ngFor="let weakness of displayedWeaknesses">
            <img class="type-icon" 
                src="assets/{{weakness.typeName}}-icon.png"                     
                alt="{{weakness.typeName}} Weakness Icon">
        </span>
    </div>
    <div class="rating-title" style="display: flex">Favorable type matchups </div>
    <div class="mobile-icon-row">
        <span *ngFor="let strength of displayedStrengths" style="display: flex">
            <img class="type-icon" 
                src="assets/{{strength.typeName}}-icon.png"                     
                alt="{{strength.typeName}} Weakness Icon">
        </span>
    </div>
</div>

<mat-grid-list *ngIf="!isMobile" cols="2" rowHeight="13:1" style="margin-top: -2em">
    <mat-grid-tile class="rating-title">Attack types to avoid </mat-grid-tile>
    <mat-grid-tile class="rating-title">Favorable type matchups </mat-grid-tile>
    <mat-grid-tile>
        <span *ngFor="let weakness of displayedWeaknesses" (mouseenter)="updateServiceHoverState(weakness.typeName)" (mouseleave)="updateServiceHoverState('')">
            <img class="type-icon" 
                src="assets/{{weakness.typeName}}-icon.png"                     
                alt="{{weakness.typeName}} Weakness Icon"
                matTooltip="{{weakness.typeName | uppercase}}: {{weakness.numberWeakToType}}"
                matTooltipPosition="above">
        </span>
    </mat-grid-tile>
    <mat-grid-tile>
        <span *ngFor="let strength of displayedStrengths" (mouseenter)="updateServiceHoverState(strength.typeName, false)" (mouseleave)="updateServiceHoverState('', false)">
            <img class="type-icon" 
                src="assets/{{strength.typeName}}-icon.png"                     
                alt="{{strength.typeName}} Weakness Icon"
                matTooltip="{{strength.typeName | uppercase}}: {{strength.numberStrongToType}}"
                matTooltipPosition="above">
        </span>
    </mat-grid-tile>
</mat-grid-list>