/* You can add global styles to this file, and also import other style files */
body
    background: #333
    color: #eee

.pokemon-image
    border-radius: 15% 5%
    background-size: cover
    border: black 5px solid
    background-image: url("assets/box-wallpaper.png")
    background-position: center

.pokemon-name
    font-size: x-large
    padding-bottom: 0.25em
    padding-top: 0.25em
    font-style: italic
    font-weight: 400

header
    background: #111
    height: 1.25em
    font-size: xx-large
    padding-top: 0.5em
    margin: -0.25em -0.25em 1em
    padding-left: 1em
    box-shadow: black 0px 1px 6px 2px

@media screen and (max-width: 1024px)
    header
        font-size: x-large
        height: auto
        text-align: center
        padding: 0.75em
        margin: -0.25em -0.25em 0em
        box-shadow: none

footer
    background: #222
    height: 1.25em
    font-size: medium
    padding: 1em 2em
    position: fixed
    font-weight: lighter
    font-style: italic
    width: 100%
    left: 0
    bottom: 0

@media screen and (max-width: 1024px)
    body
        margin-bottom: 0
    footer
        position: relative
        margin: 0 -0.5em
        width: auto
        height: auto

.sticky-footer-media-override
    position: fixed

.pokemon-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    margin: 2em

@media screen and (max-width: 1024px)
    .pokemon-wrapper
        > .ng-star-inserted
            width: 100%

pokemon-display
    align-self: baseline

.type-icon
    width: 2.5em
    padding: 0 0.25em
    &:hover
        cursor: pointer

@media screen and (max-width: 450px)
    .type-icon
        width: 1.5em
        padding: 0.25em

type-rating
    background: #222
    display: block
    margin: 0 -0.5em
    box-shadow: black 0px 1px 6px 2px

@media screen and (max-width: 1024px)
    type-rating
        box-shadow: none

.pokemon-grid
    margin-top: 2em

.is-highlighted
    box-shadow: #555 0px 1px 3px 5px

.small-icon
    width: 2em
    padding: 0 0.25em
    &:hover
        cursor: pointer

mat-grid-tile
    overflow: visible!important

@media screen and (max-width: 1024px)
    .mobile-icon-row
        display: flex
        flex-flow: row wrap
        > span
            display: flex
            flex-flow: row wrap
            justify-content: space-around

.rating-title
    font-size: x-large
    font-weight: 100

@media screen and (max-width: 450px)
    .rating-title
        font-size: large

mat-tab-header
    margin: 1em
    border-top: 0.25em solid black

.move-icon
    width: 1.25em

.attack-wrapper
    margin-bottom: 1em
    > .mat-mdc-form-field-subscript-wrapper
        display: none!important